*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
p {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

p {
    font-size: 20px;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#player-board,
#computer-board {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    gap: 2px;
}

.cell {
    width: 35px;
    height: 35px;
    background-color: #e2e8f0;
    border: 1px solid #cbd5e1;
    cursor: pointer;
}

.cell.ship {
    background-color: #475569;
}

.cell.miss {
    background-color: #93c5fd;
}

.cell.hit {
    background-color: #ef4444;
}